#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 10px;
}

.kurang {
  background-color: yellow;
  color: black;
}

.tambah {
  background-color: green;
}